*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Base style */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    columns: #ffffff;
    padding-bottom: 30px;
}

p {
    line-height: 28px;
    color: #666;
    font-weight: 300;
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 40px;
    font-weight: 800;
}

.normal-text {
    font-size: 30px;
    font-weight: 600;
}

.small-text {
    font-size: 14px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}


.poster {
    display: flex;
    height: 100vh;
    width: 90%;
    align-items: center;
    margin-bottom: 150px;
}

.poster__img {
    width: 55%;
    height: 100%;
}

    .poster__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.poster__content {
    width: 35%;
    padding: 50px;
}


.mtop-1 {
    margin-top: 50px;
}

.mtop-2 {
    margin-top: 100px;
}

.mtop-3 {
    margin-top: 150px;
}

.tw {
    color: #fff;
}
